.overlay {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1200;

  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  position: relative;
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
  padding: 30px;

  background-color: #fff;
}
